.bannerImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    margin: 0 30px;
}

.bannerImage>span {
    font-size: 13px;
    letter-spacing: 0.1em;
    white-space: nowrap;
    padding: 20px 0;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    position: relative;
}

.productImage {
    border-radius: 6.59px 6.59px 0 0;
    width: 100%;
    height: 100%;
}

.bookmark {
    position: absolute;
    right: 15px;
    top: 10px;
}

.description {
    width: 100%;
    background: #141414;
    border-radius: 0 0 17.08px 17.08px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}

.description>.title {
    font-size: 20.5px;
    font-weight: 500;
    letter-spacing: 0.05em;
}

.price {
    font-size: 18.79px;
    font-weight: 700;
}

.originalPrice {
    font-size: 11.96px;
    font-weight: 400;
    text-decoration: line-through;
}

.discount {
    font-size: 11.96px;
    font-weight: 500;
    color: #2FC14F;
}

.priceDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.priceDetails>div>span {
    margin: 0 2px;
}